body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    position: sticky !important;
    top: 0;
    background-color: #285690;
    z-index: 1000;
}
#logo {
    width: 60px;
    height: 55px;
    margin-right: 20px;
}
.t-p {
    font-size: 24px;
}
.college-name {
    text-decoration: none;
}
.college-name:hover {
    text-decoration: underline;
}
.navbar-nav .nav-link:hover {
    font-weight: 500;
}
.contact-us {
    position: relative;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px
}

.contact-us h2 {
    text-align: center;
    margin-bottom: 20px;
}

div > form {
    display: flex;
    flex-direction: column;
}

div > form > .mb-3 {
    margin-bottom: 15px;
}

div > form > .btn {
    align-self: center;
    width: 100px;
    background-color: #285690;
}
div > form > .btn:hover{
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .btn {
        font-size: 14px;
    }
    .t-p {
        font-size: 21px;
    }
    .college-name {
        font-size: 0.87rem;
    }
}
@media (max-width: 398px) {
    .college-name{
        font-size: 0.75rem;
    }
    .t-p {
        font-size: 18px;
    }
}